<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
        <button @click="revers">{{message}}</button>

        <input type="password" v-model="password" v-if="!visibl"> 
        <input type="text" v-model="password" v-if="visibl"> 
        <button @click="visibl=!visibl" v-if="!visibl"> показать пароль </button>
        <button @click="visibl=!visibl" v-if="visibl"> скрыть пароль </button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data (){
                return{
                    message:'привет Алексей',
                    visibl:false,
                }
            },
            methods: {
                revers(){
                    this.message ='йескелА тевирп';
                }
            },
        }).mount('#app')
    </script>
  </body>
</html>
